<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FreePreAndroid"
        tools:targetApi="31">
        <activity
            android:name=".CameraActivity"
            android:exported="false" />
        <activity
            android:name=".NicknameActivity"
            android:exported="false" />
        <activity
            android:name=".PreActivity"
            android:exported="false" />
        <activity
            android:name=".FreeActivity"
            android:exported="false" />
        <activity
            android:name=".EditPeriodActivity"
            android:exported="false" />
        <activity
            android:name=".EditPeriodListActivity"
            android:exported="false" />
        <activity
            android:name=".FreeAlarmEditActivity"
            android:exported="true" />
        <activity
            android:name=".FreeAlarmActivity"
            android:exported="true" />
        <activity
            android:name=".FreeSettingActivity"
            android:exported="true" />
        <activity
            android:name=".SymptomActivity"
            android:exported="false" />
        <activity
            android:name=".FreeHomeActivity"
            android:exported="true" />
        <activity
            android:name=".RecentPeriodActivity"
            android:exported="false" />
        <activity
            android:name=".FirstPeriodActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".GoogleLoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>