<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 네트워크로만 위치 측정 (대략적 위치, 3km이내) -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- GPS 센서를 사용하여 위치 측정(정확한 위치, 50m이내) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Required only when requesting background location access on Android 10 (API level 29) and higher. -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FreePreAndroid"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".PeriodUnderwearActivity"
            android:exported="false" />
        <activity
            android:name=".MenstrualCupActivity"
            android:exported="false" />
        <activity
            android:name=".TamponActivity"
            android:exported="false" />
        <activity
            android:name=".ProductsActivity"
            android:exported="false" />
        <activity
            android:name=".SanitaryPadActivity"
            android:exported="false" />
        <activity
            android:name=".PcosActivity"
            android:exported="false" />
        <activity
            android:name=".VaginitisActivity"
            android:exported="false" />
        <activity
            android:name=".FemaleDiseaseActivity"
            android:exported="false" />
        <activity
            android:name=".DrugInformationActivity"
            android:exported="false" />
        <activity
            android:name=".OralContraceptionActivity"
            android:exported="false" />
        <activity
            android:name=".KnowledgeOfMenstruationActivity"
            android:exported="false" />
        <activity
            android:name=".EmergencyContraceptiveActivity"
            android:exported="false" />
        <activity
            android:name=".GoogleMapActivity"
            android:exported="false" /> <!-- 구글 지도 api키 -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCPTMTbInRNijlQfHmhrOpGQp1kyXHbFMA" />

        <activity
            android:name=".CameraActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr" />

        <activity
            android:name=".GoogleLoginActivity"
            android:exported="true" />
        <activity
            android:name=".NicknameActivity"
            android:exported="false" />
        <activity
            android:name=".PreActivity"
            android:exported="false" />
        <activity
            android:name=".PMSActivity"
            android:exported="false" />
        <activity
            android:name=".EditPeriodActivity"
            android:exported="false" />
        <activity
            android:name=".EditPeriodListActivity"
            android:exported="false" />
        <activity
            android:name=".FreeAlarmEditActivity"
            android:exported="true" />
        <activity
            android:name=".FreeAlarmActivity"
            android:exported="true" />
        <activity
            android:name=".FreeSettingActivity"
            android:exported="true" />
        <activity
            android:name=".SymptomActivity"
            android:exported="false" />
        <activity
            android:name=".FreeHomeActivity"
            android:exported="false" />
        <activity
            android:name=".RecentPeriodActivity"
            android:exported="false" />
        <activity
            android:name=".FirstPeriodActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".FreeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>